@import "~assets/color";

.pagination {
  text-align: center;
  color: $gray;
  margin: 20px 0;

  button:hover {
    color: $blue;
  }

  .first,
  .end {
    color: $blue;
    font-size: 1rem;
  }

  .page {
    color: $boldGray;
    font-size: 1rem;
    padding: 0 6px;
    margin: 0 6px;
  }

  .page.on {
    color: $blue;
  }
}
