@import "~assets/color";

.todo-card {
  background-color: white;
  border: 1px solid $gray;
  border-radius: 2px;
  padding: 10px 5px;
  margin: 10px 0;

  .card {
    display: flex;
    align-items: center;

    input.completed {
      width: 15px;
      height: 15px;
    }

    .todo {
      text-align: center;
      flex: 1;

      &::after {
        content: attr(data-reference);
        display: block;
        font-size: 0.75rem;
      }

      input {
        text-align: inherit;
        width: 100%;
      }
    }

    .id {
      margin: 0 6px;
    }

    button {
      padding: 0 6px;
      font-size: 1.1rem;
      color: $pink;
    }
  }

  .description {
    color: dimgray;
    font-size: 0.75rem;
    margin-top: 6px;
  }
}
