@import "~assets/color";

section.add-tab {
  display: flex;
  margin: auto;
  width: 320px;
  height: 36px;
  font-size: 1.1rem;

  input {
    font-size: inherit;
    border: 1px solid $gray;
    flex: 1;
    margin-right: 6px;
    padding-left: 6px;
  }

  button {
    font-size: inherit;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: $blue;
    font-weight: 100;
  }
}
