@import "~assets/color";

@mixin baseFontSize() {
  @media only screen and (min-width: 481px) {
    font-size: 16px;
  }

  @media only screen and (max-width: 480px) {
    font-size: 14px;
  }

  @media only screen and (max-width: 375px) {
    font-size: 12px;
  }
}

body {
  @include baseFontSize();
  font-family: "Noto Sans", sans-serif;
}

input:not([type="checkbox"]),
button {
  appearance: none;
  outline: none;
  border: none;
}

input {
  font-size: 1rem;
}

button {
  cursor: pointer;
  background-color: transparent;
}

main {
  margin: auto;
  border: 1px solid lightgray;
  padding: 10px;
  min-width: 320px;
  max-width: 768px;
}
